@import url('https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P');
@import url('https://use.typekit.net/zga2osr.css');

body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    font-size: 10px;
    height: 100%;

}

#index-page header{
    margin-bottom: 50px;
}

header {
    font-size: 2.4em;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

header h1 {
    color: #fff;
    font-family: Monoton;
    font-weight: 100;
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-bottom: 0px;
}


footer {
    width: 100%;
    text-align: center;
    font-size: 2.4em;
    margin: 80px 0 0 0;
}

footer p {
    font-family: "Press Start 2P";
    color: #FF1177;
}

.centered-logo {
    max-width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-page {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 100;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    font-family: Monoton;
    color: #FF1177;
}

.btn-page:hover {
    color: #fff;
}


.profile {
    padding: 23px;
}

#me-page h2 {
    font-family: "Press Start 2P";
    color: #B6FF00;
    font-size: 3em;

}

#portfolio-page {
    margin-top: 20px;
}

#me-page p {
    font-family: eurostile, sans-serif;
    font-size: 2.4em;
    color: greenyellow;
}

.content p {
    font-family: eurostile, sans-serif;
    font-size: 2.1em;
}

.content h3 {
    font-family: eurostile, sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
    text-transform: uppercase;
}

.content h4 {
    font-family: eurostile, sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#pool {
    font-size: 2.4em;
    font-family: eurostile, sans-serif;
}

.responsive {
    max-width: 100%;
    height: auto;
}

#me-page img.responsive{
    border-radius: 10%
}

.spin{
    animation: spin 13s linear infinite forwards;
}








/*        COLLAPSABLES      */

.collapsible {
    border-radius: 5px;
    font-family: "Press Start 2P";
    color: #B6FF00;
    background-color: #222222;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.9em;
}

.active,
.collapsible:hover {
    background-color: gray;
    color: #011efe;
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;

}





/* PORTFOLIO LINK BUTTONS */

.plink {
    background-color: red;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Press Start 2P";
    font-size: 1.5em;
}

.plink:hover {
    background-color: #555;
}

.plink:active {
    background-color: black;
}




/*        KEYFRAMES      */

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
